.git
.github
.turbo
**/.turbo
.expo
**/.expo
node_modules
**/node_modules
dist
dist-*
coverage
apps/mobile/android
apps/mobile/ios
packages/contracts/broadcast
packages/contracts/cache
packages/contracts/deployments
packages/contracts/out
apps/api/.data
.env
.env.*
!.env.example
*.log
*.tmp
.DS_Store
